{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="row">
    <div class="column left">
        <h1>{{ page.title }}</h1>
        <div class="intro"><p>{{ page.short_description }}</p></div>
        <ul class=category-tags>
            <li>
                <em>Categories</em>
            </li>
            {% for iter in self.categories.all %}
            <li>
                <a href="{{ self.get_parent.url }}?category={{ iter.slug }}">
                {{ iter.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        
        <ul class=category-tags>
            <li><em>Destinations</em></li>
            <li>Angkor Wat</li>
            <li>Angkor Thom</li>
            <li>...</li>
        </ul>
        {{ page.body|richtext }}
    </div>
    <div class="column right">
        <figure class="tour-location-map">
            {% for iter in self.tour_provinces.all %}
                {% image iter.province.map_image fill-90x90 class="province-map" %}
                <figcaption>{{ iter.province.province_name }}</figcaption>
            {% endfor %} 
        </figure>
        <figure class="tour-main-photo">
            {% image page.image width-620 %}
        </figure>
    </div>
    </div>


{% endblock %}