{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
{% cache 259200 tours_header %}
    
<section class="section">
	<div class="container">
		<h1 class="title">Tours</h1>
		<h2 class="subtitle">{{ page.title }}</h2>
		<div class="intro">{{ page.intro|richtext }}</div>
		<div class="tags are-medium">
		{% for iter in categories %}
			<a class="tag is-link" href="?category={{ iter.slug }}">
			{{ iter.name }}
			</a>
		{% endfor %}
		</div>    
	</div>
</section>

{% endcache %}
    
<section class="section" >
	<div class="container">
    {% if request.GET.category|length %}
        <h4>Showing tours in category "{{ request.GET.category.capitalize }}"</h4>
        <p><a href="{{ page.url }}">Show All Tours</a></p>
        {% for tour in tourpages_filtered %}
        {% with tour=tour.specific %}
            <div class="blogintro">
            <a href="{% pageurl tour %}">
            <div class="highlight">
            {% with tour.image as tour_image %}
                {% image tour_image fill-300x260 %}
            {% endwith %}   
            </div>
            <div class="description">
                <h2>{{ tour.title }}</h2>
                <p>{{ tour.short_description }}</p>
            </div>
            </a>  
            <div class="small footer">
                    {% if tour.tour_duration %}
                    {{ tour.get_readable_tour_duration }} tour,
                    from {{ tour.price_low_season }} dollars and up per tour.
                    <br/>Province {{ tour.get_province_names_as_string }}
                    <p><a class='cta link' href="{% pageurl tour %}">Find Out More</a></p>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
        {% endfor %}        
    {% else %}            
        {% for tour in tourpages %}
            {% cache 259200 tour_preview tour.id %}
            {% with tour=tour.specific %}
                <div class="blogintro">
                <a href="{% pageurl tour %}">
                <div class="highlight">
                {% with tour.image as tour_image %}
                    {% image tour_image fill-300x260 %}
                {% endwith %}   
                </div>
                <div class="description">
                    <h2>{{ tour.title }}</h2>
                    <p>{{ tour.short_description }}</p>
                </div>
                </a>  
                <div class="small footer">
                    {% if tour.tour_duration  %}
                    {{ tour.get_readable_tour_duration }} tour,
                    {% endif %}
                    {% if tour.price_low_season > 0 %}
                    from {{ tour.price_low_season }} dollars and up per tour.
                    {% endif %}
                    <br/>Province {{ tour.get_province_names_as_string }}
                    <p><a class='cta link' href="{% pageurl tour %}">Find Out More</a></p>                    
                </div>
                </div>
            {% endwith %}
            {% endcache %}
        {% endfor %}
    {% endif %}

	</div>
</section>
    {% if tourpages.paginator.num_pages > 1 %}
    <ul class=category-tags>
        {% if tourpages.has_previous %}
            <li class="page-item">
            <a href="?page={{ tourpages.previous_page_number }}" class="page-link">
                <span>&laquo;</span>
            </a>
            </li>
        {% endif %}
        {% for page_num in tourpages.paginator.page_range %}
            <li class="page-item {% if page_num == tourpages.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-link">
                {{ page_num }}
            </a>
            </li>
        {% endfor %}

        {% if tourpages.has_next %}
            <li class="page-item">
            <a href="?page={{ tourpages.next_page_number }}" class="page-link">
                <span>&raquo;</span>
            </a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
    
    
{% endblock %}
