{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>
    {% if request.GET.category|length %}
        <h4>Showing tours in category "{{ request.GET.category.capitalize }}"</h4>
        <p><a href="{{ page.url }}">Show All Tours</a></p>
        {% for tour in tourpages_filtered %}
        {% with tour=tour.specific %}
            <div class="blogintro">
            <a href="{% pageurl tour %}">
            <div class="highlight">
            {% with tour.image as tour_image %}
                {% image tour_image fill-300x260 %}
            {% endwith %}   
            </div>
            <div class="description">
                <h2>{{ tour.title }}</h2>
                <p>{{ tour.short_description }}</p>
            </div>
            </a>  
            </div>
        {% endwith %}
        {% endfor %}        
    {% else %}
        <ul class=category-tags>
        {% for iter in categories %}
            <li><a href="?category={{ iter.slug }}">
            {{ iter.name }}
            </a></li>
        {% endfor %}
        </ul>        
        {% for tour in tourpages %}
        {% with tour=tour.specific %}
            <div class="blogintro">
            <a href="{% pageurl tour %}">
            <div class="highlight">
            {% with tour.image as tour_image %}
                {% image tour_image fill-300x260 %}
            {% endwith %}   
            </div>
            <div class="description">
                <h2>{{ tour.title }}</h2>
                <p>{{ tour.short_description }}</p>
            </div>
            </a>  
            </div>
        {% endwith %}
    {% endfor %}
    {% endif %}

    
    
{% endblock %}