$white-terd: #e8e0e0
$highlight-color: #daa2c8
$box-shadow: 0 8px 10px rgba(10, 10, 10, 0.25), 0 0 0 1px rgba(10, 10, 10, 0.25)
$description-gradient: linear-gradient(to bottom, rgba(250,245,255,0.2) 0%, rgba(224,224,224,1) 50%)

body
	p
		max-width: 800px

.footer
	background-color: $white-terd

.banner
    height: 530px
    background-size: cover
    background-position: center center
    color: white
    padding: 0
    margin: 0
    box-shadow: $box-shadow

.highlight
	background-color: $highlight-color
	display: inline-block
	margin: 0px
	padding: 0px

.highlight img:hover
	opacity: 0.5

.acticleintro
	margin-left: 0px
	margin-right: 25px
	margin-bottom: 20px
	display: inline-flex
	font-size: 1.1em
	position: relative
	box-shadow: $box-shadow
  	padding: 1px
  	padding-bottom: 6.0rem
  	background: whitesmoke

.description
  margin-top: -110px
  margin-left: 0px
  width: 480px
  background: $description-gradient
  height: 200px
  padding: 0px
  position: relative
  z-index: 1
  color: black
  padding-right: 5px

.description h3
  font-size: 1.4em
  color: black
  padding: 10px

detail
  display: block
  position: absolute
  font-size: 15px
  bottom: 0.0rem
  margin-left: 1rem
  margin-bottom: 1.5rem
  color: black
  z-index: 10

.cta
  position: absolute
  right: 3
  bottom: 3
  z-index: 11