{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h2 class="title">{{ self.title}}</h2>
    {% for card in self.cards %}
            <div class="acticleintro guidecard">
            {% if card.button_page %}
                <!-- internal page -->
                <a href="{{ card.button_page.url }}">
                <div class="highlight">
                {% image card.image fill-300x240 %}  
                </div>
                <div class="description guide">
                    <h3 class="title">{{ card.title }}</h2> 
                     <p class="subtitle">{{ card.text }}</p>                   
                </div>
                </a>  
            {% elif card.button_url %}
            <!-- external page -->
                <a href="{{ card.button_url }}">
                <div class="highlight">
                {% image card.image fill-300x240 %}  
                </div>
                <div class="description guide">
                    <h3 class="title">{{ card.title }}</h2>
                    <p class="subtitle">{{ card.text }}</p>
                </div>
                </a>  
            {% else %}
            <a href="#">
            <div class="highlight">
            {% image card.image fill-300x240 %}  
            </div>
            <div class="description guide">
                <h2>{{ card.title }}</h2>
                <p>{{ card.text }}</p>
            </div>
            </a>  
            {% endif %}
            </div>
    {% endfor %}

{% endblock %}