{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro"><p>{{ page.intro }}</p></div>
    {# Loop through all blog authors #}
    {% for iter in self.blog_authors.all %}
        {% image iter.author.image fill-64x64 as img %}
        <div>
            <img src="{{ img.url }}" class="rounded-circle" alt="{{ iter.author.name }}">
        </div>
        {% if iter.author.website %}
            <a href="{{ iter.author.website }}">
                {{ iter.author.name }}
            </a>
        {% else %}
            {{ iter.author.name }}
        {% endif %}
        </div>
    {% endfor %}
    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

