{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
	<section class="section" >
	<div class="container">
    <h1 class="title">{{ page.title }}</h1>
    <p class="subtitle">{{ page.intro }}</p>
    {% if page.tags.all.count %}
        <div class="tags are-medium">
            {% for tag in page.tags.all %}
                <a class="tag is-link" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}    
    </div>
    </section>
    <div class="card">
    {# Loop through all blog authors #}
    <!--<div class="blog-avatar">-->
    <div class="card-content">
    {% for iter in self.blog_authors.all %}
        
	<div class="columns" >
		<div class="column" >
			<div class="media">
			  <div class="media-left">
				<figure class="image is-64x64">
					{% image iter.author.image fill-64x64 as img %}
					<img src="{{ img.url }}" class="is-rounded" alt="Author Portrait" >   
				</figure>
			  </div>
			  <div class="media-content">
				<p class="subtitle is-5">{{ iter.author.name }}</p>
			  </div>
			</div>
			{% endfor %}    
			on {{ page.date }}
			</div>
		</div>
		<div class="content">
			{{ page.body|richtext }}
		</div>
	</div>
	<div class="column">
    {% for item in page.gallery_images.all %}
        <figure class="image is-4by3" >
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </figure>
    {% endfor %}
    </div>
{% endblock %}

