{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="intro"><p>{{ page.intro }}</p></div>
    {# Loop through all blog authors #}
    <!--<div class="blog-avatar">-->
    {% for iter in self.blog_authors.all %}
        
        {% if iter.author.website %}       
            {% image iter.author.image fill-54x54 as img %}
            <img src="{{ img.url }}" class="blog-avatar" alt="{{ iter.author.name }}">   
            <address class="author">By <a rel="author" href="{ iter.author.website }}">{{ iter.author.name }}</a></address>   
        {% else %}
            <div class="author">{% image iter.author.image fill-54x54 class="blog-avatar" %}
            {{ iter.author.name }}</div>                 
        {% endif %}
        </address>
        </div>
    {% endfor %}
    <!--</div>-->
    <p class="meta">{{ page.date }}</p>
    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    {% if page.tags.all.count %}
        <ul class=category-tags>
            <li>Tags</li>
            {% for tag in page.tags.all %}
                <li>
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

