.header.clearfix {
    height: 46px;
    background: #6d6356;
}

.banner {
    height: 350px;
    background-size: cover; 
    background-position: center center;
    color: white;
    padding: 0;
    margin: 0;
}

.banner h1,h2,h3,h4{ 
  padding-top: 10px;
}
.banner h1{
  padding-top: 30px;
}
p{
  margin-left: 25px;
  padding-top: 5px;
}

.template-blogindexpage {
  margin: 0px;
  padding: 0px;

}

.blogintro {
  margin-left: 25px;
  margin-bottom: 25px;
  display: inline-flex;
}

.intro p{
  font-size: 1.35em;
  font-family: 'Prata', serif;
}


.template-blogindexpage img{
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
  width: 480px;  
  min-height: 280px;
  max-height: 480px;
  height: auto;  
}

.description {
  margin-top: -90px;
  margin-left: 0px;
  width:480px;
  background: linear-gradient(to bottom, rgba(136,136,136,0.2) 0%,rgba(14,10,8,0.6) 23%,rgba(14,10,8,1) 50%);
  min-height: 140px;
  max-height: 140px;
  padding: 0px;
  position: relative;
  z-index: 1;
  color: white;
}

.description a:focus, a:visited{
  color: whitesmoke;
  text-decoration: none;
}

.highlight {
  background-color: #eb7400;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.highlight img:hover {
  opacity: .5;
}

.description a:hover {
  color: #eb7400;
}

.description p{
  font-size: 1.4em;
  font-weight: normal;
}

  body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0px;
    background: #a09a94;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-left: 20px;
    font-family: 'Prata', serif;
    max-width: 800px;
   }

   p {
    font-size: 1.3em;
    max-width: 800px;
   }

  h1 {
      margin-top: 0;
      padding-top: 30px;
  }

  .nav a{
      margin-left: 0px;
      height: 46px;
  }
   
  .nav ul {
    list-style: none;
    background-color: rgb(71, 66, 62);
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 0.94em;
    line-height: 46px;
    height: 46px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color:#947751;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 800px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 40px;
      line-height: 36px;
      font-size: 1.1em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
  }