{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="hero is-light is-bold" >
  <div class="hero-body">
    <div class="container">
        <h1 class="title is-family-secondary">{{ page.title }}</h1>    
        <h3 class="subtitle is-family-secondary">{{ page.destination_name }}</h3>
    </div>
  </div>
  <div id="app">
    <Gallery>
      </Gallery>      
  </div>
</div>
{% render_bundle 'main' %}
<section>
  <div class="container">
    <br>
    <div class="tags are-medium">
      <span class="tag is-light">Our Tours</span> 
          {% for tour in self.get_tours %}      
              <a class="tag is-link" href={{ tour.page.url }}>          
                {{ tour }}      
              </a>          
          {% endfor %}
    </div> 
    <br>
  </div>
  <div class="container">
    <div class="content">
      {{ page.body|richtext }}
      <br>
    </div>
  </div>
</section>
<iframe id='mapcanvas' src='https://maps.google.com/maps?q={{ map_location }}&amp;t=k&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a rel="bookmark"  href="https://sites.google.com/site/avengedavarice/">here</a></div>
<div style='overflow:hidden;'><div id='gmap_canvas'></div></div>
<div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>

{% endblock content %}