{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>
    {% for destination in destinationpages %}
        {% with destination=destination.specific %}
            <div class="blogintro">
                <a href="{% pageurl destination %}">
                <div class="highlight">
                {% with destination.main_image as destination_main_image %}
                    {% image destination_main_image fill-300x260 %}
                {% endwith %}   
                </div>
                <div class="description">
                    <h2>{{ destination.title }}</h2>
                    <p>{{ destination.destination_name }}</p>
                </div>
                </a>  
                <div class="small footer">
                    {% if destination.use_destination_name_as_map_location %}
                        <p><a class='cta link' href="https://google.com/maps/?q={{ destination.title }}">See Map</a></p>
                    {% else %}
                        <p><a class='cta link' href="https://google.com/maps/?q={{ destination.lat_long }}">See Map</a></p>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
    {% endfor %}
{% endblock %}