{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}template-indexpage{% endblock %}

{% block content %}
<section class="section">
    {% cache 259200 destinations_header %}
        <div class="container">
            <h1 class="title">{{ page.title }}</h1>
            <h2 class="subtitle">For your travel through Cambodia!</h2>
            <!--<div class="tags are-medium">
            <span class="tag is-light">Provinces</span>
            </div>-->
        </div>
    </div>
    {% endcache %}
    </section>
    <section class="section" >   
        <div class="container is-fluid">
            <div class="content">{{ page.intro|richtext }}</div>   
        {% for destination in destinationpages %}
            {% cache 259200 destination_preview destination.id %}
            {% with destination=destination.specific %}
                <div class="acticleintro">
                    <a href="{% pageurl destination %}">
                    <div class="highlight">
                    {% with destination.main_image as destination_main_image %}
                        {% image destination_main_image fill-480x384 %}
                    {% endwith %}   
                    </div>
                    <div class="description">
                        <h3 class="title">{{ destination.title }}</h2>
                        
                    </div>
                    <detail>
                        <p>{{ destination.destination_name }}</p>
                        <br>
                    </detail>
                    </a>  
                    {% if destination.use_destination_name_as_map_location %}
                        <button class="cta button is-link" onclick="window.location.href = 'https://google.com/maps/?q={{ destination.title }}';">See Map</button>                            
                    {% else %}                            
                        <button class="cta button is-link" onclick="window.location.href = 'https://google.com/maps/?q={{ destination.lat.long }}';">See Map</button>
                    {% endif %}
                </div>
            {% endwith %}
            {% endcache %}
        {% endfor %}
        </div>
    </section>
    {% if destinationpages.paginator.num_pages > 1 %}
    <ul class=category-tags>
        {% if destinationpages.has_previous %}
            <li class="page-item">
            <a href="?page={{ destinationpages.previous_page_number }}" class="page-link">
                <span>&laquo;</span>
            </a>
            </li>
        {% endif %}
        {% for page_num in destinationpages.paginator.page_range %}
            <li class="page-item {% if page_num == destinationpages.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-link">
                {{ page_num }}
            </a>
            </li>
        {% endfor %}

        {% if destinationpages.has_next %}
            <li class="page-item">
            <a href="?page={{ destinationpages.next_page_number }}" class="page-link">
                <span>&raquo;</span>
            </a>
            </li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}
