{% load static wagtailuserbar %}
<script src="js/siemreap.js" crossorigin="anonymous"></script>

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block header %}
    {# Header contains the main_navigation block #}
    {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}


    {% block content %}{% endblock %}
    


    {# Global javascript #}

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->    
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
		<script src="static/js/siemreap.js" crossorigin="anonymous"></script>
    {% endblock %}

    <!-- Footer -->
    <div class="section">
    <footer>
        {% include "includes/footer.html" %}
    </footer>
    </div>
</body>
