{% load static wagtailuserbar %}
{% load render_bundle from webpack_loader %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block header %}
    {# Header contains the main_navigation block #}
    {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    <div id="app">
        <demo></demo>
    </div>
    {% render_bundle 'main' %}

    {% block content %}{% endblock %}

    {# Global javascript #}
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->    
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        <script>
		document.addEventListener('DOMContentLoaded', () => {

		  // Get all "navbar-burger" elements
		  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		  // Check if there are any navbar burgers
		  if ($navbarBurgers.length > 0) {

			// Add a click event on each of them
			$navbarBurgers.forEach( el => {
			  el.addEventListener('click', () => {

				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');

			  });
			});
		  }

		});
        </script>
    {% endblock %}

    <!-- Footer -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>
</body>
