{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{ page.title }}</h1>
            <dp class="subtitle">{{ self.intro|richtext }}</div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form action="{% pageurl page %}" method="POST">            
                {% csrf_token %}
                <ul>
                {{ form.as_ul }}
                </ul>
                <input class="button is-primary is-medium" type="submit">
            </form>
        </div>
    </section>   
    <figure class="banner contact image">
            {% image self.banner_image width-1368 as img %}
            <img src="{{ img.url }}" alt="Banner Image" >   
    </figure>  


{% endblock %}