{% load navigation_tags %}


<div class="header clearfix" role="banner">
    <div class="container">
        <div class="nav">
            <a class="navbar-brand" href="/">Find Your Siem Reap Tour Guide</a>
            
            {% block main_navigation %}

            <nav id="nav-menu-container">
                <div id="mobile-icon">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul id="nav-menu">
                <li class="menu-active"><a href="/tours">Tours</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/contact">Get In Touch</a></li> 
                <ul>               

                
            </nav>
            
                <!-- bakery demo
                <nav class="collapse navbar-collapse" id="main-navigation" role="navigation" aria-label="Primary site navigation">
                    <ul class="nav nav-pills">
                        {# main_menu is defined in base/templatetags/navigation_tags.py #}
                        {% get_site_root as site_root %}
                        {% top_menu parent=site_root calling_page=self %}
                    </ul>
                </nav>
                -->
            {% endblock %}        
        </div>
    </div>
</div>